{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 50.320119212452646,
    "longitude": 17.364073991775516,
    "elevation": 330,
    "unit_system_v2": "metric",
    "location_name": "Dom",
    "time_zone": "Europe/Warsaw",
    "external_url": "https://ha.48340.xyz",
    "internal_url": null,
    "currency": "PLN",
    "country": "PL",
    "language": "pl",
    "radius": 42
  }
}